<component name="libraryTable">
  <library name="SpringBoot-dubbox-serviceimpl-0.0.1-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/SpringBoot-dubbox-serviceimpl/target/SpringBoot-dubbox-serviceimpl-0.0.1-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>